<h1>Welcome to the Apartment Website</h1>

<ul>
  <li><a href="/apartments">Apartment List</a></li>
  <li><a href="/apartments/new">Create New Apartment</a></li>
  <li><a href="/tenants">Tenant List</a></li>

</ul>